@import url('https://fonts.googleapis.com/css?family=Libre+Franklin: 100, 200, 300, 400, 500, 600, 700: Exo:100, 200, 300, 400, 500, 600, 700');
/* -------------------------------------------------Heading */
header {
    padding-bottom: 0px;
}



h1 {
    text-align: center;

}


/* -------------------------------------------------Color */
body {
    background-color: #E3E3E3;
}
/* -------------------------------------------------Paddings/Margins/Text */
a:hover {
    text-decoration: none;
}

#newSingle h3 {
    display: inline;
}

h3 {
    margin: 10px;
    padding-top: 50px;    
}
p {
    font-size: 16px;
    background-color: #F6F6F8;
    width: 60%;
    margin-top: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    margin-left: 25px;
    line-height: 30px;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.menuitem {
    height: 50px;
    text-align: center;
}

.menuitem span {
    font: #ffffff;
    display: block;
    width: 100%;
    font-size: 25px;
}



body {
    margin-bottom: 100px;
}

#wrapper {
    position: relative;
    font-size: 16px;
    background-color: #F6F6F8;
    
}

span.a {
    display: inline-block;
    width: 70px;
    height: 50px;
    padding: 5px;

}

.column {
    float: left;
    padding: 10px;
}

.left {
    width: 75%;
}

.right {
    width: 25%;
}

h5 {
    color: white;
}


.menuitem a {
    color: #ffffff;
}

/* -------------------------------------------------Footer */

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 25px;
    background-color: #525252;
    margin: 0;
    min-height: 40px;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.social-links {
    display: inline-block;
}

.social-links li a i:hover {
    width: 35px;
    height: 35px;
    display: inline-block;
    border-radius: 50%;
    background: grey;
    font-size: 15;
}
