@import url('https://fonts.googleapis.com/css?family=Libre+Franklin: 100, 200, 300, 400, 500, 600, 700: Exo:100, 200, 300, 400, 500, 600, 700');
/* -------------------------------------------------Heading */

header {
    padding-bottom: 0px;
}

h1 {
    text-align: center;

}
#showsbooked {
     float: left;
}
#contact {
    float: right;
    font-size: 20px;
}


/* -------------------------------------------------Body */
/* background image for home page */
body {
    background-image: url("../images/GreenDaybackground.png");
    background-repeat: no-repeat;
    background-size: cover;
}

div {
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}


table {
    display: table;
    font-size: 20px;
    background-color: lightgrey;
    border-collapse: collapse;
}

tr {
  border: none;  
}

th, td {

    border-left: 1px solid black;
    padding-bottom: 10px;
    text-align: center;
}
#submit {
    color: black;
    font-size: 20px;
}

.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

/* add function to to contact form */
.contact {
    
}

/* -------------------------------------------------Footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 20px;
    background-color: #525252;
    margin: 0;
    min-height: 10px;
    -moz-transition: all 0.30s ease-in-out;
    -webkit-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.social-links {
    display: inline-block;
}